<!doctype html>
<html lang="ja" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ブックマーク</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.7.0/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.15/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
</head>
<body>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="url">URL</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="url" id="url">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="title">タイトル</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="title" id="title">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-info" onClick="register()">登録</button>
			</div>
		</div>
	</div>


	<div ng-controller="MainController">
		<table class="table table-bordered">
			<tr class="bg-info"><td>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="filter" class="control-label">検索ワード</label>
						<div class="col-sm-8">
							<input type="text" name="filter" ng-model="filter" class="form-control">
						</div>
					</div>
				</form>
			</td></tr>
			<tr ng-repeat="doc in docs|filter:filter">
				<td><a ng-href="{{doc.url}}" target="_blank">{{doc.title}}</a></td>
			</tr>
		</table>
	</div>

	<script>
	angular.module('myapp', [])
		.controller('MainController', ['$scope',function($scope) {
			$scope.docs = [ <% for (var i = 0; i < docs.length; i++){ %>
				{
					'id': '<%= docs[i]._id %>',
					'title': '<%= docs[i].title %>',
					'url': '<%= docs[i].url %>',
					'date': '<%= docs[i].date %>',
					'cc': '<%= docs[i].cc %>',
				},
			<% } %>];
		}]);
	</script>
	<script>
		function register(){
			var url = $('#url').val();
			var title = $('#title').val();
			$.post('/bookmark/register',{
				title: title,
				url: url,
			}, function(data){
				location.reload(true);
			});
		}
	</script>
	<script>
		$('#url').on({
			'focusout': function(){
				//alert($('#url').val())
				$.get($('#url').val(), {}, function(data){
					$('#title').val(data.match(/<title>(.*?)<\/title>/)[0].slice(7, -8));
				});
			}
		});
	</script>
</body>
</html>